@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
:root {
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
@media (min-width: 560px) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 760px) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* HARD RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: size(400);
  background-color: hsl(230deg, 35%, 7%);
  color: hsl(0deg, 0%, 100%);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul li {
  list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* UTILITY CLASSES */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid-container {
  display: grid;
}
@media (min-width: 760px) {
  .grid-container {
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40em)) minmax(2rem, 1fr);
    -moz-column-gap: var(--container-gap, 2rem);
         column-gap: var(--container-gap, 2rem);
  }
  .grid-container *:first-child {
    grid-column: 2;
  }
  .grid-container *:last-child {
    grid-column: 3;
  }
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
  background-color: hsl(230deg, 35%, 7%);
}

.bg-light {
  background-color: hsl(231deg, 77%, 90%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-dark {
  color: hsl(230deg, 35%, 7%);
}

.text-accent {
  color: hsl(231deg, 77%, 90%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

/* typography */
.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
  line-height: 1.1;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.1;
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1.1;
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.numbered-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: size(500);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}
.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsla(0deg, 0%, 100%, 0.25);
}

.primary-nav {
  --gap: 8rem;
  --underlined-gap: 2rem;
  padding: 0;
  margin: 0;
}
.primary-nav a {
  text-decoration: none;
}
.primary-nav a span {
  font-weight: 700;
  margin-right: 0.5em;
}

.lg-btn {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}
.lg-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: hsla(0deg, 0%, 100%, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in;
}
.lg-btn:hover::after, .lg-btn:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsla(0deg, 0%, 100%, 0);
}
.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-color: hsla(0deg, 0%, 100%, 0.5);
}

.underline-indicators .active,
.underline-indicators [aria-selected=true] {
  border-color: hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
}

.tab-list {
  --underline-gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  padding: 0.5em;
  border-radius: 50%;
  background-color: hsla(0deg, 0%, 100%, 0.25);
}
.dot-indicators > *:hover, .dot-indicators > *:focus {
  background-color: hsla(0deg, 0%, 100%, 0.5);
}
.dot-indicators > * [aria-selected=true] {
  background-color: hsl(0deg, 0%, 100%);
}

.number-indicators > * {
  cursor: pointer;
  display: inline-block;
  border: 1px solid hsla(0deg, 0%, 100%, 0.5);
  padding: 1em 1.5em;
  border-radius: 50%;
  color: hsl(0deg, 0%, 100%);
}
.number-indicators > *:hover, .number-indicators > *:focus {
  border: 1px solid hsl(0deg, 0%, 100%);
}
.number-indicators > * [aria-selected=true] {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(230deg, 35%, 7%);
}/*# sourceMappingURL=main.css.map */