@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
:root {
  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
@media (min-width: 560px) {
  :root {
    --fs-900: 9.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 760px) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* HARD RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: size(400);
  background-color: hsl(230, 35%, 7%);
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul li {
  list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* UTILITY CLASSES */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 1rem;
}
.grid-container p {
  max-width: 50ch;
}
@media (min-width: 560px) {
  .grid-container {
    padding-inline: 2rem;
  }
}
@media (min-width: 760px) {
  .grid-container {
    text-align: left;
    grid-template-columns: minmax(4rem, 1fr) repeat(2, minmax(0, 40em)) minmax(4rem, 1fr);
    -moz-column-gap: var(--container-gap, 2rem);
         column-gap: var(--container-gap, 2rem);
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .grid-container *:first-child {
    grid-column: 2;
  }
  .grid-container *:last-child {
    grid-column: 3;
  }
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.75rem);
}

.flow.small > *:where(:not(:first-child)) {
  --flow-space: .5rem;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-cta {
  position: absolute;
  z-index: 1;
  background: hsl(0, 0%, 100%);
  color: hsl(230, 35%, 7%);
  padding: 0.5rem 1rem;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}
.skip-cta:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: hsl(230, 35%, 7%);
}

.bg-light {
  background-color: hsl(231, 77%, 90%);
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.bg-transparent {
  background: transparent;
}

.text-dark {
  color: hsl(230, 35%, 7%);
}

.text-accent {
  color: hsl(231, 77%, 90%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}

/* typography */
.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
  line-height: 1.1;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.1;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.1;
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1.1;
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.numbered-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}
.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.25);
}

.logo {
  margin: 1.5rem clamp(1rem, 5vw, 3.5rem);
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 760px) {
  .navbar {
    margin-top: 2rem;
  }
  .navbar::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    z-index: 5;
    margin-right: -2.5rem;
    background-color: hsla(0, 0%, 100%, 0.25);
    order: 1;
  }
}

nav {
  order: 2;
}

.primary-nav {
  --gap: clamp(1.5rem, 5vw, 4rem);
  --underline-gap: 2rem;
  margin: 0;
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.primary-nav a {
  text-decoration: none;
}
.primary-nav a span {
  font-weight: 700;
  margin-right: 0.5em;
}
@media (min-width: 560px) {
  .primary-nav {
    padding-inline: clamp(2.5rem, 7vw, 7rem);
  }
}
@media (min-width: 560px) and (max-width: 760px) {
  .primary-nav {
    --gap: 1.5rem;
  }
  .primary-nav a span {
    display: none;
  }
}
@media (max-width: 560px) {
  .primary-nav {
    --gap: 1rem;
    --underline-gap: .5rem;
    padding: min(20rem, 10vh) 2rem;
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 2;
    transform: translateX(100%);
    transition: all 1s;
  }
  .primary-nav.underline-indicators > .active {
    border: 0;
  }
}

.nav-transform {
  transform: translateX(0);
}

.mobile-navigation-toggle {
  display: none;
}
@media (max-width: 560px) {
  .mobile-navigation-toggle {
    display: block;
    position: absolute;
    z-index: 3;
    top: 2.5rem;
    right: 1.5rem;
    background: transparent;
    background-image: url("../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
  }
}

.change-background {
  background-image: url("../assets/shared/icon-close.svg");
}

.lg-btn {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  font-size: 2rem;
}
.lg-btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in;
}
.lg-btn:hover::after, .lg-btn:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsla(0, 0%, 100%, 0);
}
.underline-indicators > *:hover, .underline-indicators > *:focus {
  border-color: hsla(0, 0%, 100%, 0.5);
}
@media (min-width: 560px) and (max-width: 760px) {
  .underline-indicators > * {
    padding: 2rem 0;
  }
}

.underline-indicators .active,
.underline-indicators [aria-selected=true] {
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.tab-list {
  --underline-gap: .5rem;
  margin-inline: auto;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  padding: 0.4em;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.25);
}
.dot-indicators > *:hover, .dot-indicators > *:focus {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.dot-indicators > *[aria-selected=true] {
  background-color: hsl(0, 0%, 100%);
}

.number-indicators > * {
  cursor: pointer;
  display: inline-block;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  background: transparent;
  padding: 1em 1.5em;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
}
.number-indicators > *:hover, .number-indicators > *:focus {
  border: 1px solid hsl(0, 0%, 100%);
}
.number-indicators > *[aria-selected=true] {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 35%, 7%);
}
@media (min-width: 760px) {
  .number-indicators > * {
    font-size: 1.25rem;
  }
}

body {
  background-position: bottom center;
  background-size: cover;
}

.home {
  background-image: url("../assets/home/background-home-mobile.jpg");
}
@media (min-width: 560px) {
  .home {
    background-position: center center;
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 760px) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
}

.destination {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
}
@media (min-width: 560px) {
  .destination {
    background-position: center center;
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 760px) {
  .destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}

.crew {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
}
@media (min-width: 560px) {
  .crew {
    background-position: center center;
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 760px) {
  .crew {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}

.technology {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
}
@media (min-width: 560px) {
  .technology {
    background-position: center center;
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 760px) {
  .technology {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
}

.home .grid-container .right {
  align-self: center;
}
@media (min-width: 560px) {
  .home .grid-container .right {
    align-self: center;
  }
}
@media (min-width: 760px) {
  .home .grid-container .right {
    align-self: end;
  }
}

.planet-img img {
  width: 70%;
  margin-inline: auto;
}
@media (min-width: 760px) {
  .planet-img img {
    width: 100%;
  }
}

.destination-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  padding: 2rem 0;
  margin-top: 4rem;
  gap: 1rem;
}
.destination-flex p {
  font-size: 1.75rem;
}
@media (min-width: 560px) {
  .destination-flex {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 760px) {
  .destination-flex {
    justify-content: left;
    gap: min(5vw, 6rem);
  }
}

@media (min-width: 560px) {
  .destination .title {
    justify-self: left;
    margin-top: 2rem;
  }
  .destination .grid-container .underline-indicators > * {
    padding: 1rem 0;
  }
}
@media (min-width: 560px) and (min-width: 760px) {
  .destination .grid-container {
    grid-template-areas: ". title title ." ". image tabs ." ". image content .";
    align-content: start;
  }
  .destination .grid-container .title {
    grid-area: title;
  }
  .destination .grid-container .left {
    grid-area: image;
    align-self: start;
  }
  .destination .grid-container .tab-list {
    grid-area: tabs;
    justify-self: left;
    margin-inline: 0;
  }
  .destination .grid-container .right {
    grid-area: content;
    justify-self: start;
  }
}

.crew .grid-container {
  grid-template-areas: "title" "image" "dots" "content";
}
.crew .grid-container .title {
  grid-area: title;
}
.crew .grid-container .image {
  grid-area: image;
}
.crew .grid-container .dot-indicators {
  grid-area: dots;
  justify-content: center;
}
.crew .grid-container .content {
  grid-area: content;
}
@media (min-width: 560px) {
  .crew .grid-container {
    grid-template-areas: "title" "content" "dots" "image";
    padding-bottom: 0;
  }
  .crew .grid-container .title {
    justify-self: start;
    margin-top: 2rem;
  }
}
@media (min-width: 760px) {
  .crew .grid-container {
    grid-template-columns: minmax(4rem, 1fr) minmax(0, 47em) minmax(0, 33em) minmax(4rem, 1fr);
    grid-template-areas: ". title title ." ". content image ." ". dots image .";
    justify-items: start;
  }
  .crew .grid-container .content {
    align-self: end;
  }
  .crew .grid-container .dot-indicators {
    align-self: center;
  }
  .crew .grid-container .image {
    align-self: end;
  }
}

.crew-img img {
  width: 60%;
  margin-inline: auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}
@media (min-width: 560px) {
  .crew-img img {
    width: 90%;
  }
}
@media (min-width: 760px) {
  .crew-img img {
    width: 85%;
  }
}

.crew h2 {
  color: hsla(0, 0%, 100%, 0.5);
}

.tech-img img {
  max-width: 100%;
}
@media (min-width: 760px) {
  .tech-img img {
    height: 100%;
  }
}

.technology .grid-container {
  padding-inline: 0;
}
.technology .grid-container .center {
  padding-inline: 1rem;
}
@media (min-width: 560px) {
  .technology .grid-container .title {
    justify-self: start;
    margin-top: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 760px) {
  .technology .grid-container {
    grid-template-areas: ". title title ." ". num content img";
    grid-template-columns: minmax(6rem, 1fr) minmax(2rem, 1fr) repeat(2, minmax(0, 40em));
    align-items: center;
    padding-right: 0;
  }
  .technology .grid-container .title {
    grid-area: title;
    padding-left: 0;
  }
  .technology .grid-container .right {
    grid-area: img;
    justify-self: end;
    align-self: center;
  }
  .technology .grid-container .left {
    grid-area: num;
    flex-direction: column;
    gap: 2rem;
    justify-self: start;
  }
  .technology .grid-container .center {
    grid-area: content;
  }
}/*# sourceMappingURL=main.css.map */