@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

$colors: (
    dark: hsl(230 35% 7%),
    light: hsl(231 77% 90%),
    white: hsl(0 0% 100%)
);
$font-family: (
    serif: ('Bellefair', serif),
    sans-cond: ('Barlow Condensed', sans-serif),
    sans-normal: ('Barlow', sans-serif),
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function family($font) {
    @return map-get($font-family, $font)
};

:root {

    // font sizes

    --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    

    @media (min-width: 560px) {

        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }

    @media (min-width: 760px) {
        
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;

    }
}



/* HARD RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
    font-family: family(sans-normal);
    font-size: size(400);
    background-color: color(dark);
    color: color(white);
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul li {
    list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* UTILITY CLASSES */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.grid-container {
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 1rem;

    * {
        max-width: 50ch;
    }
   
    @media (min-width: 760px) {

        text-align: left;
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40em)) minmax(2rem, 1fr);
        column-gap: var(--container-gap, 2rem);

        *:first-child {
            grid-column: 2;
        }
        
        *:last-child {
            grid-column: 3;
        }
    }  
}


.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: 1rem;

}

.container {
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */

.bg-dark { background-color: color(dark); }
.bg-light { background-color: color(light); }
.bg-white { background-color: color(white); }

.text-dark { color: color(dark); }
.text-accent { color: color(light); }
.text-white { color: color(white); }

/* typography */

.ff-serif { font-family: family(serif); }
.ff-sans-cond { font-family: family(sans-cond); }
.ff-sans-normal { font-family: family(sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); line-height: 1.1;}
.fs-800 { font-size: var(--fs-800); line-height: 1.1;}
.fs-700 { font-size: var(--fs-700); line-height: 1.1;}
.fs-600 { font-size: var(--fs-600); line-height: 1.1;}
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.numbered-title {
    font-family: family(sans-cond);
    font-size: size(500);
    text-transform: uppercase;
    letter-spacing: 4.75px;

        span {
            margin-right: .5em;
            font-weight: 700;
            color: hsl(0 0% 100% / .25);
        }
}

// Components

.primary-nav {
    --gap: .5rem;
    --underlined-gap: .5rem;
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 70%;
    position: absolute;
    right: 0;
    background: color(dark);
    z-index: 2;
    opacity: .5;
    
    
    a {
        text-decoration: none;

        span {
            font-weight: 700;
            margin-right: .5em;
        }
    }

    @media (min-width: 560px) {

        --gap: 8rem;
        --underlined-gap: 2rem;
    }
}

.lg-btn {
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    font-size: 2rem;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: hsl(0 0% 100% / .1);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 500ms linear, transform 750ms ease-in;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
        transform: scale(1.5);
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding:  var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(0 0% 100% / 0);

    &:hover,
    &:focus {
        border-color: hsl(0 0% 100% / .5);
    }
}

.underline-indicators {
    
    .active,
    [aria-selected="true"] {
        border-color: color(white);
        color: color(white);
    }
}

.tab-list {
    --underline-gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    padding: .5em;
    border-radius: 50%;
    background-color: hsl(0 0% 100% / .25);

    &:hover,
    &:focus {
        background-color: hsl(0 0% 100% / .5);
    }

    [aria-selected="true"] {
        background-color: color(white);
    }
}

.number-indicators > * {
    cursor: pointer;
    display: inline-block;
    border: 1px solid hsl(0 0% 100% / .5);
    padding: 1em 1.5em;
    border-radius: 50%;
    color: color(white);
    

    &:hover,
    &:focus {
        border: 1px solid color(white);
    }

    [aria-selected="true"] {
        background-color: color(white);
        color: color(dark);
    }
}

// Page Specifics - BACKGROUND

body {
    background-position: bottom center;
    background-size: cover;

}

.home {
    
    background-image: url('/assets/home/background-home-mobile.jpg');

    @media (min-width: 560px) {
        background-position: center center;
        background-image: url('/assets/home/background-home-tablet.jpg');
    }

    @media (min-width: 760px) {
        background-image: url('/assets/home/background-home-desktop.jpg');
    }

    .grid-container {

        @media(min-width: 760px) {
            padding-bottom: max(6rem, 20vh);
            align-items: end;
        }
    }
}
   








  